body {
    margin: 0;
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857;
    background-color: #fff
}

a {
    background-color: transparent
}


b,strong {
    font-weight: 700
}

button,input,optgroup,select,textarea {
    color: inherit;
    font: inherit;
    margin: 0
}

button,html input[type=button],input[type=reset],input[type=submit] {
    -webkit-appearance: button;
    cursor: pointer
}

input {
    line-height: normal
}


table {
    border-collapse: collapse;
    border-spacing: 0
}

td,th {
    padding: 0
}

*,:after,:before {
    box-sizing: border-box
}

html {
    font-size: 10px;
    -webkit-tap-highlight-color: transparent
}


button,input,select,textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit
}

a {
    color: #337ab7;
    text-decoration: none
}

input::-webkit-input-placeholder,textarea::-webkit-input-placeholder {
    color: #a0a0a0
}


@media (min-width:1439px) {
    nav .menu-icon {
        margin-right: 5px
    }

    nav .search-input {
        width: 240px
    }

    nav .search-input-date {
        width: 240px
    }

}

@media (max-width:750px) {
    body {
        overflow-x: hidden
    }
}