<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lucifer.mapper.CarpoolMapper">
	<resultMap type="com.lucifer.model.Carpool" id="CarpoolMap">
		<id column="id" property="id"/>
		<result column="from" property="from"/>
		<result column="to" property="to"/>
		<result column="pass1" property="pass1"/>
		<result column="pass2" property="pass2"/>
		<result column="pass3" property="pass3"/>
		<result column="departure_time" property="departureTime"/>
		<result column="comment" property="comment"/>
		<result column="site" property="site"/>
		<result column="linkman" property="linkman"/>
		<result column="phone" property="phone"/>
		<result column="created_at" property="createdAt"/>
		<result column="updated_at" property="updatedAt"/>
	</resultMap>

	<select id="questionCmsSearchList" resultMap="QuestionMap">
		select * from question
		<where>
			<if test="title != null and title !=''">
				and title like '${title}%'
			</if>
		</where>
		order by id asc
		limit #{offset}, #{count}
	</select>

	<select id="questionCmsSearchCount" resultType="java.lang.Integer">
		select count(*) from question
		<where>
			<if test="title != null and title !=''">
				and title like '${title}%'
			</if>
		</where>

	</select>

	<insert id="insertCarpool" useGeneratedKeys="true" keyProperty="id">
		insert into carpool
		(from ,to,pass1,pass2 ,pass3,departure_time,comment,site,linkman,phone,created_at,updated_at)
		values
		(#{from} ,#{to},#{pass1},#{pass2} ,#{pass3},#{departureTime} ,#{comment},#{site},#{linkman},#{phone},#{createdAt},#{updatedAt})
	</insert>

	<select id="getQuestion" resultMap="QuestionMap">
		select * from question where id = #{id}
	</select>
	<delete id="deleteQuestion">
		delete from question where id = #{id}
	</delete>

	<update id="updateQuestion">
		update question
		set title = #{title},
		right_answer = #{rightAnswer} ,
		right_answer_description = #{rightAnswerDescription},
		is_more_select = #{isMoreSelect},
		updated_at = now()
		where id = #{id}

	</update>

	<update id="updateQuestionStatus">
		update question set status = #{status} where id = #{id}
	</update>

	<select id="enableIdList" resultType="java.lang.Long">
		select id from question where status = 1 order by id asc
	</select>
	<select id="enableRandomIdList" resultType="java.lang.Long">
		select id from question where status = 1 order by rand() limit ${count}
	</select>

</mapper>