<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lucifer.mapper.oauth2.MemberMapper">
	<resultMap type="com.lucifer.model.Member" id="MemberMap">
		<id column="id" property="id"/>
		<result column="email" property="email"/>
		<result column="password" property="password"/>
		<result column="phone" property="phone"/>
		<result column="nickname" property="nickname"/>
		<result column="avatar" property="avatar"/>
		<result column="salt" property="salt"/>
		<result column="trueName" property="true_name"/>
		<result column="gender" property="gender"/>
		<result column="status" property="status"/>
		<result column="created_at" property="createdAt"/>
		<result column="updated_at" property="updatedAt"/>
	</resultMap>

	<select id="getByCountByEmail" resultType="java.lang.Integer">
		select count(*) from member where email = #{email}
	</select>
	<select id="getByPhone" resultMap="MemberMap">
	select * from member where telephone = #{telephone}
	</select>
	<insert id="insertMember" useGeneratedKeys="true" keyProperty="id">
		insert into member
		(email,password,salt,nickname,created_at,updated_at)
		values
		(#{email},#{password},#{salt},#{nickname}, now(), now())
	</insert>
	<insert id="insertMemberToken">
		insert into m_access_token
		(member_id,token)
		values
		(#{memberId},#{token})
	</insert>

	<select id="getMemberIdByToken" resultType="java.lang.Long">
		select member_id from m_access_token where token = #{token}
	</select>

	<select id="getMemberById" resultMap="MemberMap">
		select * from member where id = #{id}
	</select>

	<select id="getLoginMemberByEmail" resultMap="MemberMap">
		select id,email,salt,password,status from member where email = #{email}
	</select>

	<update id="updateMemberInfo">
		update member
		set
		nickname = #{nickname},
		phone = #{phone}
		where id = #{id}
	</update>

	<update id="updatePassword">
		update member
		set
		salt = #{salt},
		password = #{password}
		where email = #{email}
	</update>

	<select id="getSysConfigValue" resultType="java.lang.String">
		select value from sys_config where sys_config.key = #{key}
	</select>

	<update id="updateSysConfigValue">
		update sys_config
		set value = #{value}
		where sys_config.key = #{key}
	</update>

</mapper>