/**aaaa**/
@font-face {
    font-family:iconfont;
    src: url(/oauth2/font/iconfont-44185d4f61801ce554641a2bc2aafc23.woff) format("woff");
}
.iconfont {
    font-family: iconfont!important;
    font-size: inherit;
    font-style: normal;
    font-weight: 400!important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}
.ic-settings-basic:before {
    content: "\E63C"
}

.ic-settings-publish:before {
    content: "\E60A"
}

.ic-icon_mine:before {
    content: "\E68D"
}

.ic-icon_setting:before {
    content: "\E688"
}

.ic-icon_logout:before {
    content: "\E68C"
}

.ic-search:before {
    content: "\E618"
}